* {
    color: #222222;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #e0e0ce;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    width: 900px;
    height: 800px;
    justify-content: space-between;
    margin: 0 auto;
}

.grid-container,
.controls {
    border: none;
}

.grid-container {
    display: flex;
    width: 600px;
    height: 600px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin: 0 10px;
    height: 600px;
    width: 250px;
    background: #474747;
    border-radius: 50px;
}

.controls button {
    border: none;
    padding: 16px;
    width: 150px;
}

.controls button,
.controls input {
    margin: 0 auto;
    border-radius: 15px;
}

.brush-button {
    background: #ad343e;
}

.brush-button.active {
    background: #f2af29;
}

input[type="color"] {
    /* -webkit-appearance: none; */
    background: inherit;
    border: none;
    height: 100px;
    width: 100px;
}

.clear-button,
.new-grid-button {
    background: #222222;
    color: #ad343e;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0; 
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.grid-col {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.square {
    flex: auto;
    border: 1px solid grey;
    filter: brightness(1);
    background: white;
    user-select: none;
}