h1 {
    text-align: center;
}

.container {
    display: flex;
    width: 900px;
    height: 900px;
    justify-content: space-between;
    margin: 0 auto;
}

.grid-container {
    display: flex;
    width: 700px;
    height: 700px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border: 1px solid black;
    margin: 0 10px;
    height: 700px;
    width: 190px;

}

.controls button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px;
    width: 150px;
}

.controls button,
.controls input {
    margin: 0 auto;
}

input[type="color"] {
    /* -webkit-appearance: none; */
    border: none;
    height: 100px;
    width: 100px;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0; 
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.grid-col {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.square {
    flex: auto;
    border: 1px solid black;
    filter: brightness(1);
    background: white;
    user-select: none;
}

